@font-face {
    font-family: "iconfont";
    /* Project id 2429831 */
    src: url('./iconfont/iconfont.woff2?t=1623373380907') format('woff2'), url('./iconfont/iconfont.woff?t=1623373380907') format('woff'), url('./iconfont/iconfont.ttf?t=1623373380907') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
    content: "\e642";
}

.icon-shezhi1:before {
    content: "\e611";
}

.icon-pingjia:before {
    content: "\e635";
}

.icon-aixin1:before {
    content: "\e602";
}

.icon-pingjia1:before {
    content: "\e621";
}

.icon-weishengjian:before {
    content: "\e603";
}

.icon-woshi:before {
    content: "\e623";
}

.icon-4:before {
    content: "\e656";
}

.icon-xiaoxi1:before {
    content: "\e6f5";
}

.icon-house:before {
    content: "\e657";
}

.icon-woshijiaju:before {
    content: "\e689";
}

.icon-fangjian:before {
    content: "\e613";
}

.icon-dingdan:before {
    content: "\e608";
}

.icon-weizhi:before {
    content: "\e6d6";
}

.icon-jiazhengfuwu:before {
    content: "\e62f";
}

.icon-dingdan1:before {
    content: "\e61a";
}

.icon-qianbao:before {
    content: "\e6ad";
}

.icon-you:before {
    content: "\e60d";
}

.icon-lingdang:before {
    content: "\efdf";
}

.icon-xiaoxi2:before {
    content: "\e61f";
}

.icon-lingdang1:before {
    content: "\e636";
}

.icon-pingjia2:before {
    content: "\e629";
}

.icon-you1:before {
    content: "\e66a";
}

.icon-70BasicIcons-all-29:before {
    content: "\e637";
}

.icon-hr:before {
    content: "\e60a";
}

.icon-ren:before {
    content: "\e6fe";
}

.icon-weishengjian-1:before {
    content: "\e78c";
}

.icon-vertical_line:before {
    content: "\e63a";
}

.icon-fanhui1:before {
    content: "\e641";
}

.icon-zhuye1:before {
    content: "\e606";
}

.icon-fanhui:before {
    content: "\e61e";
}

.icon-guanbi:before {
    content: "\e612";
}

.icon-sousuo:before {
    content: "\e634";
}

.icon-zhuye:before {
    content: "\e619";
}

.icon-aixin:before {
    content: "\e83f";
}

.icon-wode:before {
    content: "\e626";
}

.icon-xiaoxi:before {
    content: "\e9e2";
}